# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.env.local
db.sqlite3
*.db

# Django
*.log
local_settings.py
db.sqlite3-journal
media

# Node
node_modules/
.npm
.next/
out/
build
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store 